@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root {
    
    --backBody: #f3e5d8;
    --backColor: #c08df224;
    --colorFontH3: #560dbe;
    --colorTitulos: #A24B1E;
    --colorH3: #582D1D;
    --colorFontGeral: #413e3c;


    --titulos: "Fraunces", serif;
}
body {
  background-color: var(--backBody);
  margin: 0px;
}
h1, h2 {
    font-family: var(--titulos);
    color: var(--colorTitulos); 
}
h1{
  text-shadow: 1px 1px 5px #ff470445;
}
h3{
    color: var(--colorH3);
}
p, li{
    color: var(--colorFontGeral);
}

main {
  background-color: white;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.174);
  border-radius: 20px;
  max-width: 700px;
  margin: auto;
  padding: 30px;
  font-family: 'Roboto', sans-serif;
}
.imagem {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.158);
  border-radius: 20px;

  width: 100%;
}
p {
  text-indent: 10px;
  text-align: justify;
}
.tempo-preparacao {
  
  border-radius: 10px;
  background-color: var(--backColor);
  padding: 10px 30px;
  margin: 30px 0px;
  text-indent: 15px;
}
.tempo-preparacao > h3 {
  color: var(--colorFontH3);
}
.ingredientes{
    margin: 40px 0px;
}
.ingredientes > ul {
  columns: 2;
  margin: 20px 0px;
}

.instrucoes{
    padding: 20px 0px;
}
li, ol{
    margin: 15px ;
}
hr{
    color: #413e3c15;
}
.nutricao{
    padding: 30px 0px;
}
table {
  border-collapse: collapse;
}
td {
  border-bottom: 2px solid #74706d23;
  padding-left: 30px;
  width: 70vh;
  padding: 10px;
  
}
td#last {
  border: none ;

}
td.nutri{
    color: #944118;
    font-weight: 700;
}
td{
    color: var(--colorFontGeral);
    font-weight: 400;
}
 footer{
    background-color: #582D1D;
    
 }
 footer > p, a {
    color: white;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
 }
 footer > p > a:hover{
    color: aqua;
 }